<div class="page-header text-center">
    <h1>{{foto.titulo}}</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
    <div class="col-md-6">
        <div class="form-group">
            <label>Title</label>
            <input ng-model="foto.titulo" name="titulo" class="form-control" required ng-maxlength="20">
            <span ng-show="formulario.$submitted && formulario.titulo.$error.required" class="form-control alert-danger">
            	Title must be informed.
            </span>
            <span ng-show="formulario.$submitted && formulario.titulo.$error.maxlength" class="form-control alert-danger">
            	Title can contain a maximum of 20 characters.
            </span>
        </div>
        <div class="form-group">
            <label>URL</label>
            <input ng-model="foto.url" name="url" class="form-control" required>
            <span ng-show="formulario.$submitted && formulario.url.$error.required" class="form-control alert-danger">
            	URL must be informed.
            </span>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea ng-model="foto.descricao" name="descricao" class="form-control">
            </textarea>
        </div>
        <div class="form-group">
        	<label>Group</label>
        	<select name="grupo" class="form-control" required ng-controller="GruposController" ng-model="foto.grupo" 
        	ng-options="grupo._id as (grupo.nome | uppercase) for grupo in grupos">
        		<option value="" disabled>Select Group</option>
        	</select>
        	<span ng-show="formulario.$submitted && formulario.grupo.$error.required" class="form-control alert-danger">
            	Group must be selected.
            </span>
        </div>

        <button type="submit" class="btn btn-primary">
            Save
        </button>
         <a href="/" class="btn btn-primary">Cancel</a>
        <hr>
    </div>
    <div class="col-md-6">
        <minha-foto url="{{foto.url}}" alt="{{foto.titulo}}"></minha-foto>
    </div>
</form>
